<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prince.examsimulator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralKnowledge"
            android:label="@string/title_activity_general_knowledge" >
        </activity>
        <activity
            android:name=".AptitudeReasoning"
            android:label="@string/title_activity_aptitude_reasoning" >
        </activity>
        <activity
            android:name=".Programming"
            android:label="@string/title_activity_programming" >
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".Review"
            android:label="@string/title_activity_review" >
        </activity>

        <activity
            android:name=".Instructions"
            android:label="@string/title_activity_instructions" >
        </activity>

    </application>

</manifest>
